<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="cart11"
         connectionString="Server=GSPS90SLQ12;Integrated Security=True;Database=CompanyDB;"
         providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>